<!-- search page -->
<section #content>
  <!-- parametros da pesquisa -->
  <h2 class="white-text center">{{pesquisaAtual}}</h2>
  <!-- formulário de pesquisa -->
  <div class="search">
    <div>
        <input type="text" placeholder="Try it" [(ngModel)]="pesquisa">
        <button (click)="pesquisar()" ><i class="fa fa-search"></i></button>
    </div>
  </div>

  <!-- lista de gifs da pesquisa atual -->
  <div class="row">
    <div class="col-sm-12 col-lg-4" *ngFor="let gif of gifs">
      <div class="centralizado totalv">
        <img src="{{gif.images.fixed_width.url}}" alt="{{gif.title}}">
      </div>
    </div>
  </div>

  <div id="vazio" *ngIf="empty">
    <h5 class="white-text center">Sem resultados</h5>
    <img src="https://media3.giphy.com/media/13d2jHlSlxklVe/giphy.gif" alt="empty">
  </div>

  <i [class.on]="load" class="fa fa-spinner fa-pulse fa-3x fa-fw white-text" id="loading"></i>

</section>