button.more{
    display: block;
    margin: 10px auto 20px auto;
    border: 2px solid #666666;
    background-color: #ffffff;
    color: #000000;
    font-weight: 700;
    transition: .2s linear;
    font-size: 1.5rem;
    padding: 5px 8px;
}

button.more:hover{
    color: #ffffff;
    background-color: #000000;
}

#loading{
    display: block;
    margin: 20px auto;
    transition: .2s linear;
    opacity: 0;
}

#loading.on{
    opacity: 1;
}