<!-- search page -->
<section>
  <!-- parametros da pesquisa -->
  <h2 class="white-text center">{{pesquisaAtual}}</h2>
  <!-- formulário de pesquisa -->
  <div class="search">
    <div>
        <input type="text" placeholder="Try it" [(ngModel)]="pesquisa">
        <button (click)="pesquisar()" ><i class="fa fa-search"></i></button>
    </div>
  </div>

  <!-- lista de gifs da pesquisa atual -->
  <div class="row">
    <div class="col-sm-12 col-lg-4" *ngFor="let gif of gifs">
      <div class="centralizado totalv">
        <img src="{{gif.images.fixed_width.url}}" alt="{{gif.title}}">
      </div>
    </div>
  </div>

  <button class="uppercase more" (click)="more()">See more</button>

</section>