<!-- search page -->
<section>
  <!-- parametros da pesquisa -->
  <h2 class="white-text center"></h2>
  <!-- formulário de pesquisa -->
  <div class="search">
    <div>
        <input type="text" placeholder="Try it">
        <button><i class="fa fa-search"></i></button>
    </div>
  </div>

  <!-- lista de gifs da pesquisa atual -->
  <div class="row">
    <div class="col-sm-12 col-lg-4">
      <!-- <img src="" alt=""> -->
    </div>
  </div>

  <!-- páginação -->
  <!-- nao sei ainda como vai ser -->
</section>