<!-- homepage -->
<section id="home">

  <h2 class="white-text center">Lorem ipsum dolor sit amet GIFOR-U consectetur adipisicing elit. Excepturi, veritatis. Mollitia, sapiente. Fugiat culpa, neque eius atque.</h2>

  <div class="search">
    <div>
        <input type="text" placeholder="Try it">
        <button><i class="fa fa-search"></i></button>
    </div>
  </div>

  <!-- categoria animal -->
  <div class="row">
    <h3>Happy</h3>
    <div class="col-sm-12 col-lg-4 item" *ngFor="let gif of happyGifs">
      <div class="centralizado totalv">
        <img src="{{gif.images.fixed_width.url}}" alt="{{gif.title}}">
      </div>
    </div>
  </div>

  <div class="row">
    <h3>Angry</h3>
    <div class="col-sm-12 col-lg-4 item" *ngFor="let gif of angryGifs">
      <div class="centralizado totalv">
        <img src="{{gif.images.fixed_width.url}}" alt="{{gif.title}}">
      </div>
    </div>
  </div>
  
  <div class="row">
    <h3>melancholy</h3>
    <div class="col-sm-12 col-lg-4 item" *ngFor="let gif of melancholyGifs">
      <div class="centralizado totalv">
        <img src="{{gif.images.fixed_width.url}}" alt="{{gif.title}}">
        </div>
    </div>
  </div>    
</section>