<!-- homepage -->
<section id="home">

  <h2 class="white-text center">Lorem ipsum dolor sit amet um texto qualquer consectetur adipisicing elit. Excepturi, veritatis. Mollitia, sapiente.</h2>

  <div class="search">
    <div>
        <input type="text" placeholder="Try it" [(ngModel)]="pesquisa">
        <button [routerLink]="['/search']" [queryParams]="{p: pesquisa}"><i class="fa fa-search"></i></button>
    </div>
  </div>

  <!-- categoria happy -->
  <div class="row">
    <h3 class="center" [routerLink]="['/search']" [queryParams]="{p: 'happy'}">Happy</h3>
    <div class="col-sm-12 col-lg-4 item" *ngFor="let gif of happyGifs">
      <div class="centralizado totalv">
        <img src="{{gif.images.fixed_width.url}}" alt="{{gif.title}}">
      </div>
    </div>
  </div>
  
  <!-- categoria angry -->
  <div class="row">
    <h3 class="center" [routerLink]="['/search']" [queryParams]="{p: 'Angry'}">Angry</h3>
    <div class="col-sm-12 col-lg-4 item" *ngFor="let gif of angryGifs">
      <div class="centralizado totalv">
        <img src="{{gif.images.fixed_width.url}}" alt="{{gif.title}}">
      </div>
    </div>
  </div>
  
  <!-- categoria melancholy -->
  <div class="row">
    <h3 class="center" [routerLink]="['/search']" [queryParams]="{p: 'melancholy'}">Melancholy</h3>
    <div class="col-sm-12 col-lg-4 item" *ngFor="let gif of melancholyGifs">
      <div class="centralizado totalv">
        <img src="{{gif.images.fixed_width.url}}" alt="{{gif.title}}">
        </div>
    </div>
  </div>    
</section>